.notice-list {
    width: 80%;
    margin: 20px auto;
  }
  
  .notice-list h2 {
    text-align: center;
    font-size: 24px;
  }
  
  .notice-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .notice-table th, .notice-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: black;
  }
  
  .notice-table th {
    background-color: #334155;
  color: white;
    font-size: 23px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .notice-detail {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .notice-detail h3 {
    font-size: 22px;
  }
  
  .notice-detail p {
    font-size: 16px;
  }
  
  .notice-detail img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
  }
  